<footer class="site-footer h-card">
    <div class="footer-wrapper">
        <img class="footer-logo" src="{{ 'images/todo-pasa.png' | relative_url }}"/>
        <div class="footer-info">
            <p>Lunes a viernes de 7 a 12 por <a href="https://www.oceano.uy/">Océano FM</a>.</p>
            <div>
                <span><a target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}">
                    <img class="social-icon" src="{{'images/facebook-square-brands.svg' | relative_url }}"></img>
                </a></span>
                <span><a target="_blank" href="https://twitter.com/{{ site.twitter_username }}">
                    <img class="social-icon" src="{{ 'images/twitter-square-brands.svg' | relative_url }}"></img>
                </a></span>
                <span><a target="_blank" href="https://wa.me/{{ site.whatsapp }}">
                    <img class="social-icon" src="{{'images/whatsapp-square-brands.svg' | relative_url }}"></img>
                </a></span>
                <span><a target="_blank" href="sms:9390?body=TP">
                    <img class="social-icon" src="{{ 'images/phone-square-solid.svg' | relative_url }}"></img>
                </a></span>
                <span><a target="_blank" href="mailto:{{ site.email }}">
                    <img class="social-icon" src="{{ 'images/envelope-square-solid.svg' | relative_url }}"></img>
                </a></span>
            </div>
        </div>
    </div>

</footer>
