.site-header {
    background-color: #00c2a3;
    color: white;
}

.site-logo {
    max-height: 70px
}

.post-image {
    width: 100%
}

.post-content {
    p {
        text-align: justify;
    }
    audio {
        width: 100%;
    }
}