.site-header {
    background-color: #00c2a3;
    color: white;
}

.site-logo {
    max-height: 70px
}

.post-image {
    width: 100%
}

.post-content {
    p {
        text-align: justify;
    }
    audio {
        width: 100%;
    }
}

.post-excerpt {
    display: flex;
    align-items: center;
    justify-content: center;
    > .post-image{
        width: 45%;
    }
    > .post-summary  {
        width: 70%;
        display: flex;
        flex-flow: column;
    }
    p {
        text-align: justify;
    }
    .post-image {
        padding: 0 10px;
        object-fit: cover;
        height: 150px;
    }
}

@media (max-width: 415px) {
    .post-excerpt {
        flex-direction: column;
        > .post-summary {
            width: 100%;
        }
        .post-image {
            width: 100%;
        }
    }
}

.post-category {
    font-style: italic;
}

.post-share-links {
    .social-icon {
        height: 30px;
    }
}

.footer-logo {
    width: 70px;
    height: 100%;
    margin: 0 25px 0 0;
}

.footer-wrapper {
    display: flex;
    max-width: calc(800px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
    align-items: center;
    .footer-info {
        display: flex;
        flex-flow: column;
        .social-icon {
            width: 25px;
        }
    }
}