---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <div class="post-category">{{ post.category }}</div>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <div class="post-excerpt">
            <img class="post-image" src="{{ post.image }}"/>
            <div class="post-summary">
                <p>
                    {{ post.summary }}
                </p>
                <div class="post-share-links">
                    <i>Compartí esta nota en:</i>
                    <div>
                        <span><a target="_blank" href="https://www.facebook.com/sharer.php?u={{ post.oceanourl }}">
                            <img class="social-icon" src="images/facebook-square-brands.svg"></img>
                        </a></span>
                        <span><a target="_blank" href="https://twitter.com/intent/tweet?url={{ post.oceanourl }}&text={{ post.title }}">
                            <img class="social-icon" src="images/twitter-square-brands.svg"></img>
                        </a></span>
                        <span><a target="_blank" href="https://wa.me/?text={{ post.title | url_encode }}%20{{ post.oceanourl | url_encode }}">
                            <img class="social-icon" src="images/whatsapp-square-brands.svg"></img>
                        </a></span>
                    </div>
                </div>
            </div>
        </div>
      </li>
      {%- endfor -%}
    </ul>

    <p class="feed-subscribe"><svg class="svg-icon orange"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p>
  {%- endif -%}

</div>
